@import "tailwindcss";
/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
} */

@theme {
  --color-primary: #346739;
  --color-secondary: #79ae6f;
  --color-tertiary: #9fcb98;
  --color-accent: #f2edc2;
  --color-favorite: #d88fa1;
}

:root {
  font-family: "Zain", sans-serif;
}

:root::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 1px;
  scroll-behavior: smooth;
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #f5f5f5;
  width: 1px;
  scroll-behavior: smooth;
  display: none;
}

.heading-font {
  font-family: "Elsie Swash Caps", serif;
}

.playful-font {
  font-family: "Annie Use Your Telescope", cursive;
}

.ticket-mask {
  mask-image:
    radial-gradient(
      circle at left 70%,
      transparent 15px,
      black 10px,
      black 61%,
      transparent 0
    ),
    radial-gradient(
      circle at right 70%,
      transparent 15px,
      black 11px,
      black 57%,
      transparent 0
    ),
    radial-gradient(
      ellipse at top,
      black 0px,
      black 8px,
      black 75%,
      transparent 0
    );
}

.mask-gradient {
  mask-image: linear-gradient (black, transparent);
}

.card-shadow {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-shadow:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 50%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(-2deg);
  left: -1px;
  top: 20px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.list-roman {
  list-style-type: lower-roman;
}

.indicator::after {
  content: "";
  background-color: --color-accent;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
  top: -20px;
  border: 1px solid --color-accent;
  border-radius: 10px 20px 20px 10px;
  box-shadow: 7px 7px 0 #fff;
}
.indicator::before {
  content: "";
  background-color: --color-accent;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
  bottom: -20px;
  border: 1px solid --color-accent;
  border-radius: 10px 20px 20px 10px;
  box-shadow: 7px -7px 0 #fff;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.profile {
  border: 5px solid transparent;
  background:
    linear-gradient(white) padding-box,
    conic-gradient(
        from var(--angle),
        var(--color-tertiary),
        var(--color-accent),
        var(--color-tertiary)
      )
      border-box;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.profile:hover,
.profile:focus-visible {
  animation-play-state: running;
}

.nav-link-class > a {
  height: 100%;
  display: block;
}

.top-unset {
  top: unset;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.checkbox input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
  left: 8px;
}
.checkbox input:checked ~ .checkbox__body {
  font-weight: bold;
}
.checkbox:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox:hover input:checked ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox .checkbox__checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -8px;
  width: 15px;
  height: 25px;
  border: solid var(--color-primary);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition:
    opacity 0.25s ease,
    left 0.25s ease;
}
.checkbox .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: font-weight 0.25s ease;
}
